<html>
<head>
	<base href="/app/"/>
	<link rel="stylesheet" href="/app/css/bootstrap.css">
	<link rel="stylesheet" href="/app/css/app.css">
	<link rel="stylesheet" href="/app/bower_components/angular-spinkit/build/angular-spinkit.min.css">
	<title>Books</title>
</head>
<body ng-app="booksApp">
	<div ng-controller="NavbarController">
		<div>
			<alert ng-repeat="alert in alerts" 
				type="{{alert.type}}" 
				close="alerts.splice($index, 1)">{{alert.msg}}</alert>
		</div>
		<nav class="navbar navbar-default">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" 
					class="navbar-toggle collapsed" 
					ng-init="navCollapsed = true"
					ng-click="navCollapsed = !navCollapsed">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a href=""
					ng-click="goHome()"
					class="navbar-brand">Books</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" 
				ng-class="{'in':!navCollapsed}"
				ng-click="navCollapsed=true">
				<ul ng-show="user.username"
					class="nav navbar-nav navbar-right">
					<li class="dropdown">
						<a class="dropdown-toggle" 
						data-toggle="dropdown" 
						role="button" 						
						aria-expanded="false">
							<span class="glyphicon glyphicon-search nav-btn-font"></span>						
							<span>Buscar</span>
						</a>					
					</li>
					<li class="dropdown">
						<a class="dropdown-toggle" 
						data-toggle="dropdown" 
						role="button" 						
						aria-expanded="false">
							<span class="glyphicon glyphicon-star"></span>
							Favoritos
						</a>
						<ul class="dropdown-menu"
						role="menu" ng-controller="ShelfController">
							<li ng-repeat="(shelfName, shelf) in user.shelves">
								<a ng-click="goShelf(shelf)">{{shelfName}}</a>
							</li>
							<li><a ng-click="newShelf()">
								<span class="glyphicon glyphicon-plus"></span>
								<span>Nueva categoria</span></a>
							</li>
						</ul>
					</li>
					<li class="dropdown">
						<a class="dropdown-toggle" 
						data-toggle="dropdown" 
						role="button" 						
						aria-expanded="false">
							<span class="glyphicon glyphicon-user"></span>
							{{user.username}}					 	
						</a>
						<ul class="dropdown-menu"
						role="menu">
							<li><a ng-click="logoutUser()">Salir</a></li>
						</ul>
					</li>
				</ul>
			</div><!-- /.navbar-collapse -->
		</nav>
	</div>
	<div class="content-body">
		<div class="fade" ng-view>
		</div>
	</div>

	<script src="/app/bower_components/jquery/dist/jquery.js"></script>
	<script src="/app/bower_components/angular/angular.js"></script>
	<script src="/app/bower_components/angular-route/angular-route.js"></script>
	<script src="/app/bower_components/bootstrap/dist/js/bootstrap.js"></script>
	<script src="/app/bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
	<script src="/app/bower_components/ngstorage/ngStorage.js"></script>
	<script src="/app/bower_components/angular-spinkit/build/angular-spinkit.min.js"></script>
	<script src="/app/bower_components/angular-animate/angular-animate.js"></script>
	<script src="/app/bower_components/jquery.autoellipsis/src/jquery.autoellipsis.js"></script>	
	<script src="/app/app.js"></script>
	<script src="/app/login.js"></script>
	<script src="/app/navbar.js"></script>
	<script src="/app/newShelf.js"></script>
	<script src="/app/books/books.js"></script>
	<script src="/app/books/book.js"></script>
</body>
</html>
