<html>
<head>
	<base href="/app/"/>
	<link rel="stylesheet" href="/app/css/bootstrap.css">
	<link rel="stylesheet" href="/app/css/app.css">
	<link rel="stylesheet" href="/app/bower_components/angular-spinkit/build/angular-spinkit.min.css">
	<title>Books</title>
</head>
<body ng-app="booksApp">
	<nav class="navbar navbar-default" ng-controller="NavbarController">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" 
				class="navbar-toggle collapsed" 
				ng-init="navCollapsed = true"
				ng-click="navCollapsed = !navCollapsed">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a href=""
				ng-click="goHome()"
				class="navbar-brand">Books</a>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" 
			ng-class="{'in':!navCollapsed}"
			ng-click="navCollapsed=true">
			<ul ng-show="user.username"
				class="nav navbar-nav navbar-right">
				<li class="dropdown">
					<a class="dropdown-toggle" 
					data-toggle="dropdown" 
					role="button" 						
					aria-expanded="false">
						<span class="glyphicon glyphicon-search"></span>
						Buscar
					</a>
				</li>
				<li class="dropdown">
					<a class="dropdown-toggle" 
					data-toggle="dropdown" 
					role="button" 						
					aria-expanded="false">
						<span class="glyphicon glyphicon-star"></span>
						Favoritos
					</a>
					<ul class="dropdown-menu"
					role="menu">
						<li><a ng-click="">Nueva categoria</a></li>
					</ul>
				</li>
				<li class="dropdown">
					<a class="dropdown-toggle" 
					data-toggle="dropdown" 
					role="button" 						
					aria-expanded="false">
						<span class="glyphicon glyphicon-user"></span>
						{{user.username}}					 	
					</a>
					<ul class="dropdown-menu"
					role="menu">
						<li><a ng-click="logoutUser()">Salir</a></li>
					</ul>
				</li>
			</ul>
		</div><!-- /.navbar-collapse -->
	</nav>
	
	<div class="content-body">
		<div class="fade" ng-view>
		</div>
	</div>

	<script src="/app/bower_components/angular/angular.js"></script>
	<script src="/app/bower_components/angular-route/angular-route.js"></script>
	<script src="/app/bower_components/jquery/dist/jquery.js"></script>
	<script src="/app/bower_components/bootstrap/dist/js/bootstrap.js"></script>
	<script src="/app/bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
	<script src="/app/bower_components/ngstorage/ngStorage.js"></script>
	<script src="/app/bower_components/angular-spinkit/build/angular-spinkit.min.js"></script>
	<script src="/app/bower_components/angular-animate/angular-animate.js"></script>	
	<script src="/app/bower_components/js/foundation/foundation.js"></script>
  	<script src="/app/bower_components/js/foundation/foundation.equalizer.js"></script>
	<script src="/app/app.js"></script>
	<script src="/app/login.js"></script>
	<script src="/app/navbar.js"></script>
	<script src="/app/books/books.js"></script>
	<script src="/app/books/book.js"></script>
</body>
</html>
